.pagePassword {
  position: relative;
  max-width: 500px;
  margin: 0 auto;

  .passwordWrapper {
    text-align: center;
    padding: 0 20px;

    img {
      max-width: 160px;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      color: var(--commonTextColor);
      text-align: left;
      // margin-top: 40px;
    }

    .inputPassword {
      padding-top: 30px;

      .formGroup {
        margin-bottom: 20px;

        :global(.MuiFormLabel-root) {
          color: var(--commonTextColor);
          font-family: "SFProText";
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 4px;

          @media (max-width: 767px) {
            font-size: 14px;
          }
        }

        :global(.MuiInputBase-root) {
          background-color: var(--inputBackground);
          border: 1px solid rgba(24, 119, 242, 0.2);
          border-radius: 10px;
          padding: 9px 13px;
          display: flex;

          &::after,
          &::before {
            display: none;
          }

          input {
            font-weight: 400;
            font-size: 18px;
            color: var(--commonTextColor);

            @media (max-width: 767px) {
              font-size: 14px;
            }

            &::placeholder {
              color: var(--commonTextColor);
              opacity: 1;
            }

            &:-ms-input-placeholder {
              color: var(--commonTextColor);
            }

            &::-ms-input-placeholder {
              color: var(--commonTextColor);
            }
          }
        }

        :global(.MuiBox-root) {
          line-height: 1;
        }
      }
    }

    .agreeTerms {
      p {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: var(--commonTextColor);

        a {
          color: #1877f2;
          font-weight: 900;
        }
      }
    }
  }
}


.termsModal {
  :global(.MuiBackdrop-root) {
    background-color: transparent;
  }

  :global(.MuiPaper-root) {
    margin: 10px auto;
    width: 90%;
    max-width: 90%;
    border-radius: 10px;
    background-color: var(--productCardBg);

    :global(.MuiDialogContent-root) {
      padding: 0;
    }

    .modalHeader {
      position: relative;
      padding: 10px 20px;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
      border-radius: 10px 10px 0 0;
      margin-bottom: 15px;

      h3 {
        color: var(--commonTextColor);
      }

      :global(.closeAction) {
        position: absolute;
        top: 10px;
        right: 15px;

        button {
          background-color: transparent;
          padding: 0;
          min-width: 1px;
          border-radius: 0;
          box-shadow: none;
        }

        svg {
          font-size: 16px;
          fill: #a9acb2;
        }
      }
    }

    .termsContent {
      padding: 0 20px 15px;

      p {
        font-weight: 400;
        font-size: 14px;
        color: var(--commonTextColor);
      }
    }
  }
}