.resetpasswordPage {
  padding: 60px 20px 40px;
  position: relative;
  max-width: 500px;
  margin: 0 auto;

  .rewardsLogo {
    text-align: center;
    margin-bottom: 30px;
  }

  .formInputGroup {
    margin-top: 30px;

    .formGroup {
      margin-bottom: 20px;

      :global(.MuiFormLabel-root) {
        color: var(--commonTextColor);
        font-family: "SFProText";
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 4px;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      :global(.MuiInputBase-root) {
        background-color: var(--inputBackground);
        border: 1px solid rgba(24, 119, 242, 0.2);
        border-radius: 10px;
        padding: 9px 13px;
        display: flex;

        :global(.MuiBox-root) {
          line-height: 0;
        }

        &::after,
        &::before {
          display: none;
        }

        input {
          font-weight: 400;
          font-size: 18px;
          color: var(--commonTextColor);

          @media (max-width: 767px) {
            font-size: 14px;
          }

          &::placeholder {
            color: var(--commonTextColor);
            opacity: 1;
          }

          &:-ms-input-placeholder {
            color: var(--commonTextColor);
          }

          &::-ms-input-placeholder {
            color: var(--commonTextColor);
          }
        }
      }
    }
  }

  :global(.primaryBtn) {
    svg {
      margin-right: 15px;
    }
  }

  .loginSms {
    text-align: center;
    padding-top: 22px;

    p {
      font-weight: 400;
      font-size: 14px;
      color: var(--commonTextColor);
      margin-bottom: 20px;
    }

    // button {
    //   background: transparent;
    //   border-radius: 0px;
    //   font-weight: 500;
    //   font-size: 16px;
    //   color: #1877f2;
    //   box-shadow: none;
    //   padding: 0;

    //   &:hover {
    //     color: #1877f2;
    //     background-color: transparent;
    //   }

    //   svg {
    //     margin-right: 15px;

    //     path {
    //       stroke: #1877f2;
    //     }
    //   }
    // }

    .log_via_Smsbtn {
      // margin-bottom: 70px;
      text-align: center;

      button {
        width: 335px;
        margin: auto;
        background: #28303f;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        padding: 10px;
        border: 1px solid #d9d9d9;

        &:hover {
          background: #28303f;
        }

        @media (max-width: 575px) {
          width: 100%;
        }

        svg {
          margin-right: 15px;
        }
      }
    }
  }
}