.searchPage {
  :global(.couponSlider) {
    padding: 0 20px 20px;
    margin-top: 35px;

    :global(.itemsWrapper) {
      padding: 0;
    }
  }

  :global(.pagebody) {
    padding-bottom: 0;
  }
}
