.dialogMain {
  :global(.MuiBackdrop-root) {
    background-color: transparent;
  }

  :global(.MuiDialog-paper) {
    width: 80%;
    background-color: var(--bodyBackground);
    border-radius: 20px;

    :global(.MuiDialogContent-root) {
      text-align: center;
      padding: 20px 37px;

      p {
        font-weight: 400;
        font-size: 16px;
        color: var(--commonTextColor);
      }

      :global(.primaryBtn) {
        padding-top: 20px;

        button {
          width: 174px;
        }
      }
    }
  }
}
